body {
    font-size: 24px
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    padding: 0;
    margin: 0;
}

ul,li,ol{
    list-style: none;
}
img {
    display: block;
}
.ant-menu {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.ant-menu-item {
    width: 25%;
}

// .nav {
//     width: 100%;
//     height:1.04rem;
//     display: flex;
//     justify-content:space-around;
//     align-items: center;
//     position: fixed;
//     bottom: 0;
//     left: 0;
//     border-top: 1px solid #ddd;
    // background-color: red;
    
    // figure {
    //     color: #888;
    //     padding: .16rem 0 .08rem;
    //     flex: 1;
    //     text-align: center;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    // }

    // .icon {
    //     width: .666667rem;
    //     height: .666667rem;
    // }
}

