/* 头部logo */

img {
    display: block;
    border: none;
}

.home_box {
    width: 100%;
    margin-bottom: 1rem;
}

.header {
    height: 0.9934rem;
    background-color: #fff;
    padding: 0 0.25rem;
}

.logo {
    width: 1.39rem;
    height: 0.36rem;
    background: url(//js.wotucdn.com/framework/mobile/index/images/m-public-bg.png) 0 0 no-repeat;
    background-size: cover;
    margin-top: 0.27rem;
}

.search-top {
    width: 5.34rem;
    padding: 0 0.2rem 0 0.4rem;
    height: 0.74rem;
    line-height: 0.74rem;
    background-color: #ececec;
    border-radius: 0.58rem;
    margin-top: 0.08rem;
    color: #999;
}

.logo a {
    display: block;
    width: 1.39rem;
    height: 0.36rem;
}

a {
    transition: all .2s;
    color: #666;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.search-top a {
    width: 4.74rem;
    height: 0.58rem;
    display: block;
}

.search-top i {
    font-size: 0.34rem;
    color: #858585;
    margin-top: 0.02rem;
}

.fl {
    float: left;
}

.fr {
    float: right;
}


/* 轮播图 */

.ant-carousel .slick-slide {
    text-align: center;
    height: 3.1rem;
    background: #fff;
    overflow: hidden;
    position: relative;
}

.ant-carousel .slick-slide img {
    /* width: 8.28rem; */
    width: 100%;
    height: 3.2rem;
    display: block;
}

.ant-carousel .slick-dots-bottom {
    position: absolute;
    top: 2.5rem;
}

.ant-carousel .slick-dots li {
    background-color: black;
}


/* 导航模块 */

.index-classify {
    width: 93%;
    height: 3.9rem;
    background-color: #fff;
    border-radius: 0.1rem;
    margin: -0.5rem auto;
    position: relative;
    z-index: 1;
    margin-bottom: 0.28rem;
    box-shadow: 0 4px 10px rgba(41, 41, 41, 0.16);
}

.classify-box {
    width: 1.15rem;
    margin: 0.28rem 0.29rem 0;
    position: relative;
}

.classify-box .classify {
    width: 0.83rem;
    margin: 0 0.16rem 0.2rem;
    height: 0.83rem;
}

.classify-box p {
    font-size: 0.26rem;
    color: #666;
    line-height: 0.4rem;
    background-size: cover;
    text-align: center;
}

.classify img {
    width: 0.9164rem;
    height: 0.9164rem;
}


/* 精选专题 */

.title-box {
    color: #333;
    font-size: 0.28rem;
    padding: 0 0.27rem;
    height: 0.28rem;
    margin-bottom: 0.2rem;
}

.title-box .icon-subject {
    display: inline-block;
    width: 0.34rem;
    height: 0.28rem;
    background: url(//js.wotucdn.com/framework/mobile/index/images/icon-subject.png) 0 0;
    background-size: cover;
    margin-right: 0.12rem;
    margin-top: 0.05rem;
}


/* 左右滑动列表 */

.subject-box {
    width: 100%;
    height: 2.2rem;
    position: relative;
    background-color: #fff;
    padding: 0.2rem 0rem 0.2rem 0rem;
    margin-bottom: 0.15rem;
    box-shadow: 0 4px 10px rgba(41, 41, 41, 0.16);
}

.subject-box-ul {
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: scroll;
    /* overflow-x: auto; */
    overflow-y: hidden;
}


/* 取消滑动滚动条 */

.subject-box-ul::-webkit-scrollbar {
    display: none
}

.subject-box-li {
    width: 2.7rem;
    height: 1.8rem;
    flex-shrink: 0;
    margin-right: .2rem;
}

.subject-box-li img {
    width: 100%;
    height: 100%;
}


/* 首页分类 */

.lei {
    width: 100%;
    height: 100%;
}

.special-subject {
    background-color: #fff;
    margin-bottom: 0.15rem;
    padding-bottom: 0.1rem;
}

.special-subject .title-box {
    height: 0.88rem;
    line-height: 0.88rem;
    margin-bottom: 0;
}

.title-box {
    color: #333;
    font-size: 0.28rem;
    padding: 0 0.27rem;
}

.special-subject .title-box span {
    line-height: 0.88rem;
    height: 0.28rem;
}


/* 分类下面的卡片 */

.cart_c {
    width: 100%;
    height: 4.7rem;
    /* background-color: aqua; */
}

.ant-card-cover img {
    width: 100%;
    height: 3.46rem;
}

.ant-card-meta-title {
    height: 1.3rem;
    padding-top: 0.3rem;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    font-size: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* margin-left: 31%; */
    /* background: red; */
}


/* 更多 */

.more-work {
    width: 100%;
    text-align: center;
    height: 0.4rem;
    line-height: 0.4rem;
}

.more-a {
    font-size: 0.3rem;
}